<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title></title>
</head>

<body>
  <div class="content">
    <div class="form sign-in">
      <h2>Registration Information</h2>
      {% for message in get_flashed_messages() %}
    <div style="color: red; font-size: 20px; background-color: yellow; padding: 10px; border: 1px solid red;">
        {{ message }}
    </div>
{% endfor %}
      <form action="/userInfo" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <label>
        <span>Username</span>
        <input type="text" id="userName" name="userName" autocomplete="userName">
      </label>
        <label>
        <span>Password</span>
        <input type="password" id="password" name="password" autocomplete="password">
      </label>
        <label>
        <span>Confirm Password</span>
        <input type="password" id="confirmpassword" name="confirmpassword" autocomplete="password">
      </label>
      <button type="submit" class="submit" id="login-button">confirm</button>
        </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/js/script.js"></script>
</body>

</html>