<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>registration</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .forget-password {
            color: #007BFF;
            background-color: #F8F9FA;
            border: 1px solid #007BFF;
            padding: 8px 16px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }
    </style>
</head>

<body>
{% for message in get_flashed_messages() %}
    <div style="color: red; font-size: 20px; background-color: yellow; padding: 10px; border: 1px solid red;">
        {{ message }}
    </div>
{% endfor %}
<div class="content">
    <div class="form sign-in">
        <h2>Hello</h2>
        <form action="/login" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label>
            <span>Username</span>
            <input type="text" id="username" name="username" autocomplete="username"/>
        </label>
        <label>
            <span>Password</span>
            <input type="password" id="password" name="password" autocomplete="password"/>
        </label>

        <div class="g-recaptcha" data-sitekey="6Lcf-bgpAAAAALv5reKCg104Jvol7uXIfq3yFh6f"></div>

        <button type="submit" class="submit" id="login-button">login</button>

            <button type="button" onclick="location.href='/forget'" class="forget-password">Forget Password?</button>
        </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>Unregistered?</h2>
                <p>register now!</p>
            </div>
            <div class="img__text m--in">
                <h2>Have account?</h2>
                <p>You can log in if you have an account</p>
            </div>
            <div class="img__btn">
                <span class="m--up">Sign up</span>
                <span class="m--in">Log in</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>Sign up</h2>
            <form action="/register" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label>
                <span>Email</span>
                <input type="email" id="registerEmail" name="registerEmail" autocomplete="registerEmail"/>
            </label>
                <div class="g-recaptcha" data-sitekey="6Lcf-bgpAAAAALv5reKCg104Jvol7uXIfq3yFh6f"></div>
            <button type="submit" class="submit" id="register-button">Sign up</button>
            </form>
        </div>
    </div>
</div>


<script src="/static/js/script.js"></script>


<div style="text-align:center;">
</div>
</body>

</html>
