<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title></title>
</head>

<body>
  <div class="content">
    <div class="form sign-in">
      <h2>Validation code</h2>
      {% for message in get_flashed_messages() %}
    <div style="color: red; font-size: 20px; background-color: yellow; padding: 10px; border: 1px solid red;">
        {{ message }}
    </div>
{% endfor %}
      <form action="/registerCode" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <label>
        <span>Validation code</span>
        <input type="number" id="code" name="code" autocomplete="code">
      </label>
      <button type="submit" class="submit" id="login-button">Confirm</button>
        </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/js/script.js"></script>
</body>
</html>