<!DOCTYPE html>
<html lang="zh-CN">

<head>
<meta charset="utf-8">
<title>HTML注册登录页面模板</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="content">
        <div class="form sign-in">
            <h2>欢迎回来</h2>
            <form action="/login" method="post">
            <label>
                <span>用户名</span>
                <input type="text" id="username" name="username" autocomplete="username"/>
            </label>
            <label>
                <span>密码</span>
                <input type="password" id="password" name="password" autocomplete="password"/>
            </label>

                <label>
                    <input type="text" id="captcha" name="captcha" autocomplete="captcha"/>
                </label>
                <img src="/static/captcha.jpg"  alt="Test Image"/>
                <button type="submit" class="submit" id="login-button">登录</button>
            </form>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>还未注册？</h2>
                    <p>立即注册，发现大量机会！</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有帐号？</h2>
                    <p>有帐号就登录吧，好久不见了！</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">注 册</span>
                    <span class="m--in">登 录</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>立即注册</h2>
                <form action="/register" method="post">
                <label>
                    <span>邮箱</span>
                    <input type="email" id="registerEmail" name="registerEmail" autocomplete="registerEmail"/>
                </label>
                <button type="submit" class="submit" id="register-button">注册</button>
                </form>
                <button type="button" class="fb-btn">使用 <span>facebook</span> 帐号注册</button>
            </div>
        </div>
    </div>

    <script src="/static/js/script.js"></script>

	<div style="text-align:center;">
</div>
</body>

</html>