<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title></title>
</head>

<body>
  <div class="content">
    <div class="form sign-in">
      <h2>验证邮箱</h2>
      <form action="/userInfo" method="post">
      <label>
        <span>用户名</span>
        <input type="text" id="userName" name="userName" autocomplete="userName"> <!-- 添加id属性 -->
      </label>
        <label>
        <span>密码</span>
        <input type="password" id="password" name="password" autocomplete="password"> <!-- 添加id属性 -->
      </label>
      <button type="submit" class="submit" id="login-button">确认</button> <!-- 添加id属性 -->
        </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/js/script.js"></script>
</body>

</html>